{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="nav-bar">
    <h1>Salut, bienvenue <!--TODO: faire en sorte de mattre le nom de l'utilisateur-->, viens trouver ton nouveaux voyage dans le Sud de Mars </h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/var/www/html/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
